<!DOCTYPE html>
<html lang ="en">

<head>
	<meta charset = "UTF-8">
	<meta name = "viewport",
	content = "width = device-width,
	initial-scale = 1.0">

	<title> Chore Management System </title>
	<link rel = "stylesheet" href = "style.css">

    <style>
        .statistics-box 
        {
            border: 1px solid #FFC0CB;
            text-align: center;
        }
    </style>
</head>

<body>
	<h1>Welcome/Home Page</h1>
    
    <!--The Welcome page should have the following properties:
        1. Show some statistics about the chore status (in progress, incomplete, completed)
        2. The statistics boxes should link to the chore management page (each box when clicked should send the user to the chore management)
        3. The rest of the home/webpage design is up to you-->
    
    <!-- Statistics Boxes with Links to Chore Management Page -->
    <a href="choreManagement.htm">
        <div class="statistics-box">
            <h2><a href="choreManagement.htm">In Progress</a></h2>
            <p>20</p>
        </div>
    </a>

    <a href="choreManagement.htm">
        <div class="statistics-box">
            <h2><a href="choreManagement.htm">Incomplete</a></h2>
            <p>15</p>
        </div>
    </a>

    <a href="choreManagement.htm">
        <div class="statistics-box">
            <h2><a href="choreManagement.htm">Completed</a></h2>
            <p>30</p>
        </div>
    </a>
    

</body>

</html>